cython==0.23
numpy==1.10
scipy==0.15.1
nose==1.3.7
nose-parameterized==0.6.0
cgen
codepy
coverage
decorator
lockfile
matplotlib==1.5.3
pymongo
pytools
wsgiref
pbr==1.8.0
fabric==1.10.2
shovel
joblib
networkx
Pillow==2.4.0
skdata==0.0.4
hyperopt
scikit-image==0.11.2
theano==0.6
